.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: static;
  margin: 0;
  background-color: white;
  width: 100vw;
  border-bottom: 40px solid black;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: black;
  margin: 0 3%;
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 1%;
}

.limited-ed-link {
  color: white;
  background-color: gold;
  border-radius: 30px;
  border: 3px solid black;
  white-space: nowrap;
  padding: 2%;
}


.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  padding: 0;
  margin: 0;
}

.logo-container img {
  width: 100%;
  padding: 0;
  margin: 0;
}